# Modifications to everything should require explicit approval of a few
# people
/   @matz-e @pramodk @jorblancoa @olupton

# Exclude common directories
/bluebrain/deployment/environments
/bluebrain/repo-bluebrain/packages
/bluebrain/repo-patches/packages
