sphinx==9.1.0
sphinxcontrib-programoutput==0.18
sphinxcontrib-svg2pdfconverter==2.0.0
sphinx-copybutton==0.5.2
sphinx-last-updated-by-git==0.3.8
sphinx-sitemap==2.9.0
furo==2025.12.19
docutils==0.22.4
pygments==2.19.2
