name: macos tests

on:
  push:
    branches:
      - develop
      - releases/**
  pull_request:
    branches:
      - develop
      - releases/**
jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python packages
      run: |
          pip install --upgrade pip six setuptools
          pip install --upgrade codecov coverage
          pip install --upgrade flake8 pep8-naming
    - name: Setup Homebrew packages
      run: |
        brew install dash fish gcc gnupg2 kcov
    - name: Run unit tests
      run: |
        git --version
        . .github/workflows/setup_git.sh
        . share/spack/setup-env.sh
        coverage run $(which spack) test
        coverage combine
        coverage xml
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests,macos
